config main 'main'
	option enabled '1'
	option interface 'br-lan'
	option bulk_ip '192.168.2.210'
	option capacity_kbit '10500'
	option minimum_kbit '512'
	option trigger_kbit '2000'
	option release_kbit '1200'
	option trigger_seconds '4'
	option reserve_kbit '1000'
	option release_seconds '6'
	option poll_seconds '2'
	option burst_kbytes '32'
